<div class="form-container">
  <form
    [formGroup]="formGroup"
    class="form-container"
    (keydown.enter)="$event.preventDefault()"
    *ngIf="!updateSuccess"
  >
    <div class="header">
      <span> Phản hồi khách hàng </span>
    </div>
    <div class="body">
      <div class="rating-container">
        <span> Chúng tôi luôn sẵn cải thiện theo ý kiến của khách hàng</span>
        <div class="satisfy">
          <span>Hãy cho chúng tôi biết mức độ hài lòng của bạn</span>
          <mat-radio-group formControlName="status">
            <mat-radio-button value="0">Rất không hài lòng</mat-radio-button>
            <mat-radio-button value="1">Không hài lòng</mat-radio-button>
            <mat-radio-button value="2">Bình thường</mat-radio-button>
            <mat-radio-button value="3">Hài lòng</mat-radio-button>
            <mat-radio-button value="4">Rất hài lòng</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="feedback-container">
        <span>Hãy cho chúng tôi đánh giá chi tiết</span>
        <mat-radio-group formControlName="title">
          <mat-radio-button value="0">Nhiều vấn đề chưa tốt</mat-radio-button>
          <mat-radio-button value="1">Một số vấn đề chưa tốt</mat-radio-button>
          <mat-radio-button value="2">Mọi thứ hoàn hảo</mat-radio-button>
        </mat-radio-group>
        <textarea
          matInput
          formControlName="content"
          placeholder="Góp ý thêm tại đây"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </div>
    </div>
    <div class="footer">
      <button
        class="generate"
        [class.disabled]="!formGroup.valid"
        [disabled]="!formGroup.valid"
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </form>
  <span
    *ngIf="updateSuccess"
    style="font-size: 32px; padding: 16px; background-color: #fff"
    >Cảm ơn bạn vì đã đánh giá</span
  >
</div>
